---
import { socialLinks } from "../../utils/data.ts";
---

<div class="min-h-max flex items-center gap-4 text-heading-3 mt-8">
  {
    socialLinks.map(({ icon, svg, href }) => (
      <a href={href} target="_blank" class="transition hover:text-heading-1 hover:scale-105">
       <span set:html={svg} />
        <span class="sr-only">{icon}</span>
      </a>
    ))
  }
</div>
<style>
  a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
.icon {
  width: 32px; /* 设置宽度 */
  height: 32px; /* 设置高度 */
  background-color: transparent; /* 确保图片背景透明 */
}
  svg {
   width: 32px; /* 设置宽度 */
  height: 32px; /* 设置高度 */
  background-color: transparent; /* 确保图片背景透明 */

  }
</style>