---
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
import Title from "../shared/Title.astro";

import { faqs } from "../../utils/data.ts";
import GradiantText from "../shared/GradiantText.astro";

type FAQProps = {
  question: string;
  answer: string;
};

export interface Props {
  className?: string;
}

const { className } = Astro.props;
---

<section id="faq" class=`${className}`>
  <Container className="">
    <div class="text-center  max-w-3xl mx-auto">
      <Title> Frequenty Asked <GradiantText>Questions</GradiantText></Title>
    </div>

    <div
      class="grid border rounded-3xl border-box-border border-box-bg bg-box-bg shadow-lg divide-y divide-slate-200 dark:divide-slate-800 max-w-3xl mx-auto mt-8 overflow-hidden"
    >
      {
        faqs.map((faq: FAQProps) => {
          return (
            <div class="py-5 px-5 hover:bg-slate-200 dark:hover:bg-slate-800">
              <details class="group">
                <summary class="flex justify-between items-center font-medium cursor-pointer list-none text-heading-1">
                  <span>{faq.question}</span>
                  <span class="transition group-open:rotate-180 ">
                    <svg
                      fill="none"
                      height="24"
                      shape-rendering="geometricPrecision"
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="1.5"
                      viewBox="0 0 24 24"
                      width="24"
                    >
                      <path d="M6 9l6 6 6-6" />
                    </svg>
                  </span>
                </summary>
                <Paragraph className="mt-3 group-open:animate-fadeIn">
                  {faq.answer}
                </Paragraph>
                <!-- 
                <p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
                  {faq.answer}
                </p>
              -->
              </details>
            </div>
          );
        })
      }
    </div>
  </Container>
</section>
