---
import { Image } from "astro:assets";
import Button from "../shared/Button.astro";
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";

import myHeroImage3 from "../../assets/images/hero3.png";


import GradiantText from "../shared/GradiantText.astro";

export interface Props {
  className?: string;
}

const { className } = Astro.props;
---

<section class={`relative pt-32 lg:pt-36 ${className}`}>
  <Container className={"flex flex-col lg:flex-row gap-10 lg:gap-12"}>
    <div
      class="relative flex flex-col items-center text-center lg:text-left lg:py-0 xl:py-0
        lg:items-start lg:max-w-none max-w-3xl mx-auto lg:mx-0 lg:flex-1 lg:w-1/2"
    >
      <h1
        class="text-3xl/tight sm:text-4xl/tight md:text-5xl/tight xl:text-6xl/tight
             font-bold text-heading-1"
      >
        <GradiantText>ClipTrack <br /> </GradiantText>
        Manage Your Clipboard Like a Pro
      </h1>
      <Paragraph className="mt-8 ">
        ClipTrack is the intelligent clipboard manager that helps you boost your productivity and organize your digital life.
      </Paragraph>

  
    </div>

  <div
  class="flex flex-1 lg:w-1/2 lg:h-auto relative lg:max-w-none lg:mx-0 mx-auto max-w-3xl"
>
  <div
    class="wave_popover_embed rounded-3xl"
    data-id="yb6bQmmcRzi7KBc6"
    data-width="560"
    data-height="317"
  >
    <div>
      <img
        src="https://embed.wave.video/yb6bQmmcRzi7KBc6/preview.jpg?width=1920&height=1080&play=true&color=%2330AEF2"
        alt="null"
        style="cursor: pointer; display: block; max-width: 100%; object-fit: cover;"
        data-target="target"
      />
    </div>
    <script src="https://wave.video/embed/popover-embed.js"></script>
  </div>
</div>
  </Container>
</section>