---
// Component for footer background spans
---
<div class="absolute inset-0">
  <span class="w-20 h-20 rounded-full bg-gradient-to-br from-sky-500 from-0% via-primary via-80% to-green-600 to-110% absolute left-1/3 bottom-1/3"></span>
  <span class="w-40 h-40 rounded-full bg-gradient-to-br from-yellow-400 from-0% via-green-600 via-60% via-sky-700 via-85% to-primary to-100% absolute right-1 top-2/4"></span>
  <span class="w-40 h-40 rounded-full bg-gradient-to-br from-sky-500 from-0% via-primary via-80% to-green-600 to-110% absolute right-1/4 bottom-0"></span>
  <span class="w-20 h-20 rounded-full bg-gradient-to-br from-green-500 from-0% via-primary via-80% to-sky-600 to-110% absolute right-1/3 top-1/3"></span>
  <span class="w-40 h-40 rounded-full bg-gradient-to-br from-green-500 from-0% via-primary via-80% to-sky-600 to-110% absolute left-0 top-1/3"></span>
</div>