---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/sections/Hero.astro";

import Testimonials from "../components/sections/Testimonials.astro";
import FAQ from "../components/sections/FAQ.astro";
import Features from "../components/sections/Features.astro";
import CTA from "../components/sections/CTA.astro";
import Solutions from "../components/sections/Solutions.astro";
---

<Layout title="Welcome to the ClipTrack">
  <main class="flex flex-col overflow-hidden">
    <Hero className="py-10 md:py-16" />
    <Solutions className="pt-10 md:pt-16" />
   
    <Features className="py-10 md:py-16" />
     <Testimonials className="py-10 md:py-16" />
    <FAQ className="py-10 md:py-16" />
    <CTA className="py-10 md:py-16" />
    <!-- Hero -->
    <!-- headline, subheading, image, cta button, results -->
    <!-- Problems/Solutions -->
    <!-- title, painpoint, aggitate pain, introduce solution, video  -->
    <!-- Benefits/Testimonials -->
    <!-- benefit title, thanks to features, visual -->
    <!-- Testimonials/Brands -->
    <!-- reviews, partners -->
    <!-- Features -->
    <!-- ~10 features, more technical than emotional, in a list -->
    <!-- FAQ -->
    <!-- questions, answers, video -->
    <!-- CTA -->
    <!-- Question, button -->
  </main>
</Layout>
